/*CSS Styles*/

/* LOGO */

#logo {
    margin: auto;
    padding-top: 160px;
    padding-left: 2px;
    width: 276px;
}

#google {
    margin: auto;
    width: 272px;
}

/* FORM */

.frm {
    text-align: center;
    margin: auto;
    width: 700px;
    height: 150px;
    padding-top: 25px;
}

.searchbox input { 
    margin-left: 3px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 16px;
    height: 43px;
    width: 490px;
    border: 1px solid #dddddd;
    border-radius: 30px;
    outline: none;
}

.searchbox img{
    position: relative;
    left: 36px;
    top: 3px;
}

.btn {
    font-size: 14px;
    margin: 27px 10px;
    width: 130px;
    height: 36px;
    color: #5F6368;
    border: none;   
    background-color: white;
}

.btn:hover {
    color: #000;
    border: 1px solid #aaa;
    border-radius: 4px;
}

#mic {
    position: relative;
    left: -38px;
    top: 7px;
    display: inline-block;
}

/* NAVBAR/FOOTER */

.nav {
    list-style-type: none;
    margin: 25px 18px;
    padding: 0;
}

li {
    padding-right: 18px;
    float: left;
}

li, li a {
    display: inline-block;
    color: #444;
    font: 13px arial, sans-serif;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
 }

 #sign-in {
    position: relative;
    bottom: 12px;
    text-align: center;
    background: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 100px;
    padding: 12px 0px;
    margin-right: 10px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    outline: none;
    text-decoration: none;

}

#sign-in:hover {
    background: #2b84f9;
}

.nav-right, .footer-right{
    float: right;
}

#footer li a {
    color: #676767;
}

#footer li {
    padding-right: 27px;
}

#ft-ctr{
    height: 37px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

#ft-ctr ul {
    list-style-type: none;
    margin: 0;
    padding: 9px 3px 0px 30px;
}

